# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
!bin/**/.pyc
*$py.class

# Eclipse / PyDev projects
.project
.pydevproject
.settings/
.idea/

venv*/
dist/
build/
*.egg-info/
.tox/
.pytest_cache/
*.spec
